# Aula 2 - Pandas para Análise de Dados

1. Instalação e Importação

In [1]:
!ls -al

'ls' n�o � reconhecido como um comando interno
ou externo, um programa oper�vel ou um arquivo em lotes.

In [4]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\rafae\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\rafae\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rafae\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rafae\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rafae\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\rafae\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

2. Importação do Pandas

In [5]:
import pandas as pd

3. Criando DataFrames

In [7]:
# A partir de um dicionário
# dados = {
#     'nome': ['Ana', 'João', 'Maria'],
#     'idade': [25, 30, 28],
#     'cidade': ['São Paulo', 'Rio', 'Brasília']
# }
# df = pd.DataFrame(dados)

# A partir de um arquivo CSV
# df = pd.read_csv('./dados.csv', sep='\t')

# # A partir de uma lista de listas
dados = [
    ['Ana', 25, 'São Paulo'],
    ['João', 30, 'Rio'],
    ['Maria', 28, 'Brasília']
]
df = pd.DataFrame(dados, columns=['NOME', 'IDADE', 'CIDADE'])

In [9]:
df

    NOME  IDADE     CIDADE
0    Ana     25  São Paulo
1   João     30        Rio
2  Maria     28   Brasília

4. Operações básicas com DataFrames

In [11]:
# Visualizar primeiras linhas
print(df.head(2))
df.head(2)

   NOME  IDADE     CIDADE
0   Ana     25  São Paulo
1  João     30        Rio

   NOME  IDADE     CIDADE
0   Ana     25  São Paulo
1  João     30        Rio

In [13]:
df.tail(2)

    NOME  IDADE    CIDADE
1   João     30       Rio
2  Maria     28  Brasília

In [14]:
# Informações sobre o DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NOME    3 non-null      object
 1   IDADE   3 non-null      int64
 2   CIDADE  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [15]:
# Estatísticas descritivas
print(df.describe())

           IDADE
count   3.000000
mean   27.666667
std     2.516611
min    25.000000
25%    26.500000
50%    28.000000
75%    29.000000
max    30.000000

In [16]:
df['NOME']

0      Ana
1     João
2    Maria
Name: NOME, dtype: object

In [17]:
df[['NOME', 'IDADE']]

    NOME  IDADE
0    Ana     25
1   João     30
2  Maria     28

In [18]:
df[['IDADE', 'NOME']]

   IDADE   NOME
0     25    Ana
1     30   João
2     28  Maria

In [21]:
# Filtrar dados
maiores_25 = df[df['IDADE'] > 25]
maiores_25

    NOME  IDADE    CIDADE
1   João     30       Rio
2  Maria     28  Brasília

In [25]:
# Seleção de colunas
nomes = df['NOME']
subset = df[['nome', 'idade']]



# Ordenar dados
# df_ordenado = df.sort_values('idade', ascending=False)

# Agrupar e agregar dados
media_idade_cidade = df.groupby('CIDADE')['IDADE'].mean()
media_idade_cidade = df.groupby('CIDADE').agg(
    {
        'IDADE': 'mean',
        'NOME': list
    }
)

KeyError: "None of [Index(['nome', 'idade'], dtype='object')] are in the [columns]"

In [ ]:
media_idade_cidade

           IDADE     NOME
CIDADE
Brasília    28.0  [Maria]
Rio         30.0   [João]
São Paulo   25.0    [Ana]

5. Exemplo Prático: Análise de Vendas

In [ ]:
# Criar dados de exemplo
dados_vendas = {
    'data': pd.date_range(start='2025-01-01', periods=10),
    'produto': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'B', 'A', 'C'],
    'quantidade': [10, 15, 8, 12, 20, 5, 9, 11, 13, 7],
    'valor_unitario': [100, 150, 100, 200, 150, 100, 200, 150, 100, 200]
}
df = pd.DataFrame(dados_vendas)

# Criar coluna calculada
df['valor_total'] = df['quantidade'] * df['valor_unitario']

# Análise por produto
analise_produto = df.groupby('produto').agg({
    'quantidade': 'sum',
    'valor_total': 'sum'
}).round(2)

print("\nAnálise por Produto:")
print(analise_produto)

# Média de vendas diárias
media_diaria = df.groupby('data')['valor_total'].sum().mean()
print(f"\nMédia de vendas diárias: R$ {media_diaria:.2f}")

# Produto mais vendido
mais_vendido = df.groupby('produto')['quantidade'].sum().idxmax()
print(f"\nProduto mais vendido: {mais_vendido}")